[HYPERNETS]
l1b_file = T:\ECO\EOServer\data\unittest_datasets\Hypernets\HYPERNETS_L_TEST_L1B_RAD_20220829T1531_20230818T1105_v1.0.nc
l2a_file = T:\ECO\EOServer\data\unittest_datasets\Hypernets\HYPERNETS_L_TEST_L2A_REF_20220829T1531_20230818T1108_v1.0_artificialmask.nc 

[EMIT]
emit_path = T:\ECO\EOServer\data\unittest_datasets\EMIT\EMIT_L1B_OBS_001_20220827T091626_2223906_009.nc

[RadCalNet]
output_file = T:\ECO\EOServer\data\unittest_datasets\RadCalNet\GONA01_2017_200_v04.09.output
input_file  = T:\ECO\EOServer\data\unittest_datasets\RadCalNet\GONA01_2017_200_v00.09.input
netcdf_file = T:\ECO\EOServer\data\unittest_datasets\RadCalNet\RVUS_archive.nc

[PlanetScope]
psd_tif = T:\ECO\EOServer\data\unittest_datasets\PlanetScope\20220401_084707_00_2477_3B_AnalyticMS_8b_clip.tif

[Airbus]
phr_dir_GONA_crop = T:\ECO\EOServer\data\unittest_datasets\Airbus\cropped_tile\IMG_PHR1A_MS_001
phr_dir_l4_full_scene = T:\ECO\EOServer\data\unittest_datasets\Airbus\full_scene\IMG_PHR1A_MS_001

[Landsat]
l8_dir = T:\ECO\EOServer\data\unittest_datasets\Landsat\LC08_L1TP_180074_20240930_20241005_02_T1

[ECMWF]
ERA_file = T:\ECO\EOServer\data\unittest_datasets\ECMWF\ERA5_SL_2025-07-01_2025-07-31_total_column_water_vapour_total_column_ozone_surface_pressure.nc
CAMS_file = T:\ECO\EOServer\data\unittest_datasets\ECMWF\CAMS_EAC4_2025-01-01_2025-02-28_total_aerosol_optical_depth_550nm.zip